.food-display {
    margin-top: 30px;
}

.food-display h2 {
    font-size: max(2vw, 24px);
    font-weight: 600;
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}
.cart-btn {
  height: 6vh;
  width: 20vw;
  border: none;
  font-size: max(2vw, 8px);
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  background-color: #f1571b;
  border-radius: 5vw 3vh;
  color: white;
  margin: 2em auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
